version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.13.11
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r requirements.txt
      - run:
          name: Create test-results directory
          command: mkdir -p test-results
      - run:
          name: Run linter
          command: flake8 .
      - run:
          name: Run tests
          command: pytest
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results

workflows:
  build_and_test:
    jobs:
      - build
